<!-- Footer -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

footer{
    background: #111;
    height: auto;
    font-family: "Open Sans";
    padding-top: 10px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    font-size: 14px;
}




.socials{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom:10px
}
 

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}




.footer-bottom{
    background: #000;
    padding: 10px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 0;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
</style>



<footer>
    <div class="footer-content">

        <h3>Oasis Visual</h3>

        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>Oasis Visual 2021 &copy; Todos os Direitos Reservados.</p>
        <p>Desenvolvido por <span>The Special Agency</span></p>
    </div>
</footer>

<!--
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>Início</a></li>
                    <li><a href="/secao/camisa"><i class="fa fa-angle-double-right"></i>Camisa</a></li>
                    <li><a href="/secao/cinto"><i class="fa fa-angle-double-right"></i>Cinto</a></li>
                    <li><a href="/secao/sapatos"><i class="fa fa-angle-double-right"></i>Sapatos</a></li>
                    <li><a href="/secao/carteira"><i class="fa fa-angle-double-right"></i>Carteira</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Social</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href=""><i class="fa fa-angle-double-right"></i>Facebook</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>Youtube</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quem somos nós</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href=""><i class="fa fa-angle-double-right"></i>Sobre</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Perguntas Frequentes</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>Developed by Ramon</a></li>
                    <li><a href="/developer"><i class="fa fa-angle-double-right"></i>Developer</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6"><a class="text-green ml-2" href="" target="">Oasis Visual</a> &copy All
                    right Reversed.</p>
            </div>
        </div>
    </div>
</section>
-->
<!-- ./Footer -->