<nav
	class="
		navbar navbar-expand-lg
		bg-light
		navbar-light
		border-bottom
		shadow-sm
		fixed-top
	"
>
	<a class="navbar-brand" href="/">
		<img src="../../static/image/oasislogo.jpeg" style="height: 50px" alt="" />
	</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarResponsive"
		aria-controls="navbarResponsive"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<div class="input-group p-0 justify-content-center">
			<form
				action="/pesquisa"
				method="get"
				class="w-100 m-0"
				style="padding-right: 20%"
			>
				<div class="input-group-append rounded-left">
					<input
						type="text"
						class="form-control rounded-left form-control-sm"
						autocomplete="off"
						style="float: left; border-radius: 0"
						name="q"
						placeholder="Pesquise um produto..."
					/>
					<button
						class="btn btn-success btn-sm rounded-right"
						style="border-radius: 0"
						type="submit"
					>
						<i class="fas fa-search"></i>
					</button>
				</div>
			</form>
		</div>

		<ul
            class="navbar-nav ml-auto"
            style="display: flex; align-items: center"
        >

        
			<li class="nav-item" style="margin-right: 1em;">
				<a
                    href="/"
                    class="nav-link"
                >
                    <span class=""><i class="fas fa-shopping-cart"></i></span>
                </a>
			</li>

			{% if session.usuario_conectado %}


			<li class="nav-item">
				<a
                    href="/perfil?usuario={{session.usuario_id}}"
                    class="nav-link"
                    style="display:flex; align-items:center"
				>
                    <i class="fas fa-user"></i>&nbsp;&nbsp;{{ session.nome_usuario }}
                </a>
			</li>

			<li class="nav-item">
				<a
                    href="{{ url_for('autorizar.sair') }}"
                    class="nav-link"
                    style="display:flex; align-items:center"
                >
                    <i class="fas fa-door-open"></i>&nbsp;&nbsp;Sair
                </a>
			</li>

			{% else %}



			<li class="nav-item">
				<a
                    href="{{ url_for('autorizar.inscrever') }}"
                    class="nav-link"
                    style="display:flex; align-items:center"
				>
                    <i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Inscrever
            </a>
			</li>

			<li class="nav-item">
				<a
                    href="{{ url_for('autorizar.entrar') }}"
                    class="nav-link"
                    style="display:flex; align-items:center"
                >
                <i class="fas fa-door-open"></i>&nbsp;&nbsp;Entrar
                </a>
			</li>

			{% endif %}
		</ul>

	</div>
</nav>
